/acpi_tables/ @jiangliu @liuw @rbradford @sboeuf
/linux-loader/ @aghecenco @sameo @rbradford @roypat @andreitraistaru @ShadowCurse
/vmm-sys-util/ @andreeaflorescu @ShadowCurse
/vm-memory/ @alexandruag @bonzini @jiangliu @tkreuzer @roypat @ShadowCurse @XanClic
